Repository complexengine/use-headless-form, changes with the labels that .github/labeler.yml gives for each.
All labels: area: src, area: docs, area: ci

.github/labeler.yml:

"area: src":
  - any: ["*"]

"area: docs":
  - any: ["**/*.md"]

"area: ci":
  - any: [".github/**/*"]

docs: add code docs and update readme
  README.md
  src/index.ts
Labels: area: src, area: docs

feat: implement satisfies
  src/index.ts
Labels: none

chore: add changeset for release
  .changeset/light-bikes-join.md
Labels: area: docs

fix: publish config
  package.json
Labels: area: src

fix: update docs + export FormValidation
  .changeset/polite-turtles-change.md
  README.md
  src/index.ts
Labels: area: src, area: docs

fix: types
  .changeset/spotty-wasps-enjoy.md
  src/index.ts
Labels: area: docs

fix: types
  src/index.ts
Labels: none

feat: add helpers
  .changeset/thin-steaks-hammer.md
  src/index.ts
Labels: area: docs

fix changeset
  .changeset/thin-steaks-hammer.md
Labels: area: docs

docs: add example
  README.md
  examples/advanced/.eslintrc.json
  examples/advanced/.gitignore
  examples/advanced/index.html
  examples/advanced/package-lock.json
  examples/advanced/package.json
  examples/advanced/postcss.config.cjs
  examples/advanced/src/app.tsx
  examples/advanced/src/main.tsx
  examples/advanced/src/styles.css
  examples/advanced/src/vite-env.d.ts
  examples/advanced/tailwind.config.cjs
  examples/advanced/tsconfig.json
  examples/advanced/tsconfig.node.json
  examples/advanced/vite.config.ts
Labels: area: src, area: docs

docs: update demo link
  README.md
Labels: area: src, area: docs

fix: set module to CommonJS
  .changeset/quiet-hats-smile.md
  tsconfig.json
Labels: area: src, area: docs

docs: update example
  examples/advanced/package-lock.json
  examples/advanced/package.json
  examples/advanced/src/app.tsx
  examples/advanced/src/form-errors.tsx
Labels: none

chore: bump dep versions
  examples/advanced/package-lock.json
  examples/advanced/package.json
  package-lock.json
  package.json
Labels: area: src

docs: minor example formatting
  examples/advanced/src/app.tsx
Labels: none
